@import "partials/variables";
@import "partials/mixin";

* {
    box-sizing: border-box;
  }

body {
    font-size: $main-font;
    font-family: $text-font;
    margin: 0;
    overflow-x: hidden;     
    margin-left: auto;
    margin-right: auto;
    color: $main-color;
    line-height: 1.5;
}

.header-container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .fullscreen-vid-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        #background-vid {
            min-width: 100%; 
            min-height: 100%;
        }

        .header-overlay {
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            background: $secondary-color;
            z-index: 1;
            opacity: .4;
        }
    }
}

.header-top {
    padding: 5px;
    z-index: 2;     
    width: 100%;

    @include desktop-1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;   
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    
        @include tablet-2 {
            width: 100%;
        }

        .logo-piece {
            display: flex;
            align-items: center;
        
            @include tablet-1 {
                font-size: $large-font-1;
                letter-spacing: 3px; 
            } 

            .logo {
                width: 40px;
            
                @include tablet-1 {
                    width: 50px;
                }
            }

            .name {
                @extend .logo-piece;
                font-family: $logo-font;
                font-weight: bold;
                font-size: $medium-font-3;
                letter-spacing: 2px;
                margin-left: 5px;    
                padding-top: 0;
            }
        }

        .menu {
            display: flex; 
            padding-top: 0;

            &:hover {
                color: $theme-color;
                cursor: pointer;
            }

            .menu-text {
                @extend .menu;
                margin-right: 10px;
                font-weight: bold;
                position: relative;
                top: -2px;          
            }

            .hamburger-menu div {
                background-color: $main-color;
                width: 25px;
                height: 3px;
                margin: 3px 0;
            }
        }
    }
}

.menu-items {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    text-align: center;
    padding: 5px;
    border: 2px solid $main-color;
    border-radius: 7px;
    background-color: $secondary-color;
    position: relative;     
    z-index: 1;

    @include tablet-1 {
        display: flex;
        border-style: none;
        background-color: transparent;
        font-size: $medium-font-1;
        padding-top: 15px;
        padding-right: 10px;
        float: right;
        align-items: flex-start; 
    }

    .arrow-down {
        width: 18px;
        margin-left: 10px;
        vertical-align: middle;
    }

    .submenu-items {
        background-color: $main-color;
        color: $secondary-color;
        border: 1px solid $submenu-border-color;
        border-radius: 7px;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        margin-top: 15px;
        font-weight: normal;
    
        @include tablet-1 {
            margin-top: 30px;
        }

        div {
            padding-bottom: 10px;
            transition: 0.3s;
        }

        & div:hover {
            color: $theme-color;
            cursor: pointer;
        }
    }

    .menu-items li {
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s;       
    
        @include tablet-1 {
            padding: 0;
        }
    }

    & li:hover {
        color: $theme-color;
        cursor: pointer;
    }
    
    & li:hover > .submenu-items {     
        color: $secondary-color;
    }
    
    .menu-items li:last-child {
        border: 2px solid $main-color;
        border-radius: 7px;
        font-size: $small-font;
        padding: 8px;
        margin-bottom: 20px;
    }
    
    & li:last-child:hover {
        border-color: $theme-color;
    }  
}

.intro-sec {
    width: 99%;
    padding: 10px;
    text-align: center;
    top: 50%;               
    transform: translateY(-50%);
    position: absolute;     
    z-index: 1;

    .intro-descr { 
        @include tablet-1 {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        } 

        h1 {
            font-size: $medium-font-4;
        
            @include tablet-1 {
                font-size: $large-font-4;
                max-width: 40%;
                margin: 10px;
                text-align: center;
            }
        
            @include tablet-2 {
                max-width: 35%;
            }
        }

        p {
            @include tablet-1 {
                font-size: $medium-font-2;
                max-width: 30%;
                margin: 10px;
                text-align: left;
            }
        
            @include tablet-2 {
                max-width: 25%;
            }
        }
    }

    .learn-button {
        font-weight: bold;
        width: 220px;
        padding: 10px 15px;
        text-align: center;
        background-color: $theme-color;
        border-radius: 7px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        color: $main-color;
        transition: 0.3s;
    
        @include tablet-1 {
            margin-top: 40px;
        }

        &:hover {
            cursor: pointer;
            background-color: $button-hover-color;
            transition: 0.3s ease;
        }
    }
}

.stats-sec {
    background-color: $secondary-color;
    opacity: .99;
    padding: 5px 10px 15px;;
    -webkit-box-shadow: 0 -10px 15px $secondary-color;
    -moz-box-shadow: 0 -10px 15px $secondary-color;
    box-shadow: 0 -5px 10px $secondary-color;

    h2 {
        margin: 0;
        padding: 20px;
        text-align: center;
        font-size: $medium-font-3;
    
        @include tablet-1 {
            font-size: $medium-font-5;
            margin-bottom: 20px;
        }
    }

    .stats-all {
        @include tablet-1 {
            display: flex;
            justify-content: center;
        }

        .stats-container {
            display: flex;
            justify-content: center;
            align-items: center;
    
            @include tablet-1 {
                flex-direction: column;
                width: 33%;
                justify-content: flex-start;
            }
    
            .icon-container {
                width: 30%;
                text-align: center;
    
                .stats-icon {
                    width: 45px;
                    height: 45px;
                    margin: 15px;
                }
            }
    
            .stats-details {
                margin: 10px;
                width: 70%;
            
                @include tablet-1 {
                    text-align: center;
                }
            
                h3 {
                    margin-bottom: 0;
                
                    @include tablet-1 {
                        font-size: $medium-font-3;
                    }
                }
            
                p {
                    opacity: .8;
                
                    @include tablet-1 {
                        font-size: $medium-font-1;
                    }
                }
            }
        }
    }
}

.hideme {
    opacity: 0;
}

.about-sec {
    color: $secondary-color;
    text-align: center;
    padding: 50px 20px;

    h2{
        font-size: $medium-font-5;
    }

    .about-container {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    
        @include tablet-1 {
            max-width: 75%;
        } 

        p {
            font-size: $medium-font-1;
        }
    }

    .driver-image {
        max-height: auto;
        max-width: 100%;
        box-shadow: 1px 2px 4px #777;
    
        @include mobile-2 {
            max-width: 481px;
        }
    
        @include tablet-2 {
            max-height: 306px;
        }
    }
    
    .driver-img-caption {
        font-size: $small-font;
        color: $img-caption-color;
    }
}

.divider {
    max-width: 70%;
    height: 0;
    border-top: 1px solid $border-color;
    font-size: $no-font;
    margin: 40px auto;
    opacity: .7;
}

.customer-list {
    color: $secondary-color;
    text-align: center;
    padding: 15px;

    h2 {
        font-size: $medium-font-5;
    }
    
    p {
        font-size: $medium-font-1;
    }

    .company-list {
        color: $customer-logo-color;
        font-size: $large-font-2;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
        @include tablet-1 {
            font-size: $large-font-5;
        }
    
        li {
            margin: 20px;
        }

        .company-1 {
            font-family: $company1-font;
        }
        
        .company-2 {
            font-family: $company2-font;
        }
        
        .company-3 {
            font-family: $company3-font;
        }
        
        .company-4 {
            font-family: $company4-font;
        }
        
        .company-5 {
            font-family: $company5-font;
        }
        
        .company-6 {
            font-family: $company6-font;
        }
    }
}

.company-slideshow {
    color: $secondary-color;
    text-align: center;

    @include tablet-2 {
        margin-left: 100px;
        margin-right: 100px;
    }

    h2 {
        font-size: $medium-font-5;
        margin: 15px;
    }

    .slideshow-container {
        display:flex;
        align-items: center;
        list-style-type: none;
        padding-left: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    
        @include tablet-2 {
            overflow: hidden;
        }

        li {
            min-height: 410px;
            border: 1px solid $border-color;
            border-radius: 7px;
            background-color: $slideshow-background-color;
            padding: 25px;
            margin: 15px;
        
            @include mobile-1 {
                min-height: 350px;
            }
            
            @include mobile-2 {
                min-height: 330px;
            }
        
            @include tablet-1 {
                min-height: 310px;
            }
        
            @include tablet-2 {
                min-height: 440px;
                min-width: 40.5%;
            }
        
            @include desktop-1 {
                min-width: 41%;
            }
        
            @include desktop-2 {
                min-height: 380px;
                min-width: 42%;
            }
        
            @include desktop-3 {
                min-width: 43%;
            }
        
            @include desktop-4 {
                min-height: 340px;
                min-width: 44%;
            }
        
            @include desktop-5 {
                min-height: 310px;
                min-width: 45%;
            }
        
            @include desktop-6 {
                min-width: 45.5%;
            }
        
            @include desktop-7 {
                min-width: 46%;
            }
        
            @include desktop-8 {
                min-width: 46.5%;
            }
        }

        li > div:first-child {
            font-size: $large-font-3;
        }

        .company-1 {
            color: $company1-color;
        }
        
        .company-2 {
            color: $company2-color;
        }
        
        .company-3 {
            color: $company3-color;
        }
        
        .company-4 {
            color: $company4-color;
        }
        
        .company-5 {
            color: $company5-color;
        }
        
        .company-6 {
            color: $company6-color;
        }
        
        p {
            font-size: $medium-font-1;
            font-style: italic;
            opacity: 0.75;
        }

        .comp1-container, .comp2-container {
            @include tablet-2 {
                order: -2;
            }
        }

        .name {
            font-weight: bold;
            padding-top: 15px;
        }
    }
}

.arrow {
    display: none;
    width: 35px;
    height: 35px;
    background-color: $slideshow-background-color;
    border: 1px solid $border-color;
    border-radius: 50%;
    padding: 8px;
    transition: 0.1s;

    @include tablet-1 {
        display: inline-block;
    }

    &:hover {
        cursor: pointer;
        border-color: $selection-hover-color;
        border-width: 1px;
    }
}

.left-arrow {   
    order: -3;
    margin-left: 15px;
}

.right-arrow {  
    order: 1;
    margin-right: 15px;

    @include tablet-2 {
        order: -1;
    }
}

.circle-btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: $circle-btn-color;
    border: 1px solid $circle-btn-border-color;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        border-color: $selection-hover-color;
    }
}

.selected-display {
    order: -2;
}

.selected-btn {
    background-color: $circle-selected-color;
    border-color: $circle-selected-color;
}

footer {
    margin-top: 60px;

    .footer-background {
        text-align: center;
        background: url("../images/hardware.jpg") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;     

        .footer-overlay {
            background: $secondary-color;
            z-index: 1;
            opacity: .6;
            height: 100%;
            width: 100%;
            position: absolute;
        }

        .conclusion {
            position: relative;   
            z-index: 2;
            padding: 40px 15px;
            margin-left: auto;
            margin-right: auto;
        
            @include tablet-1 {
                max-width: 75%;
                padding-top: 80px;
                padding-bottom: 80px;
            }

            h2 {
                font-size: $medium-font-5;
            }
            
            p {
                font-size: $medium-font-2;
            }
        }
    }
}

.media {
    position: relative;
    z-index: 2;
    padding-bottom: 20px;   

    @include tablet-1 {
        padding-bottom: 60px;
    }

    h2 {
        font-size: $medium-font-5;
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .media-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 15px;

        div {
            width: 280px;
            transition: 0.1s;
        
            @include mobile-1 {
                width: 320px;
            }
        
            @include mobile-2 {
                width: 380px;
            }
        
            @include mobile-3 {
                width: 260px;
                padding: 20px;
            }
    
            &:hover {
                cursor: pointer;
                color: $customer-logo-color;
            }
        }
        
        h3 {
            font-size: $large-font-2;
            margin-top: 15px;
            margin-bottom: 0;
            letter-spacing: 1px;
        
            @include mobile-3 {
                font-size: $large-font-5;
            }
        }
    }
}

.footer-links {
    background-color: $secondary-color;
    opacity: .99;
    -webkit-box-shadow: 0 -10px 15px $secondary-color;
    -moz-box-shadow: 0 -10px 15px $secondary-color;
    box-shadow: 0 -5px 10px $secondary-color;

    @include tablet-1 {
        padding-top: 30px;
    }

    .link-list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 15px;
        font-weight: bold;

        li {
            padding: 10px 15px;
            transition: 0.3s;
    
            &:hover {
                cursor: pointer;
                color: $theme-color;
            }
        }
    }

    .meta-list {
        font-size: $small-font;
        color: $site-info-color;
        padding-top: 0;
        padding-bottom: 0;

        li {
            transition: 0.3s;
    
            &:hover {
                cursor: pointer;
                color: $theme-color;
            }
        }
    }
}

.social-list {
    padding-top: 0;

    li {
        margin-left: 10px;
        margin-right: 10px;
    }

    .social-icon {
        width: 40px;
        height: 40px;
        background-color: $social-media-icon-color;
        border: 1px solid $border-color;
        border-radius: 20%;
        padding: 6px;
        transition: 0.3s;

        &:hover {
            background-color: $main-color;
        }
    }
}

.authors {
    text-align: center;
    font-size: $small-font;
    font-style: italic;
    padding: 20px;

    a {
        color: $main-color;
        transition: 0.2s;

        &:hover {
            color: $reference-link-color;
        }
    }
}