//fonts
$text-font: 'Lato', sans-serif;
$logo-font: 'Oxygen', sans-serif;

$company1-font: 'Yanone Kaffeesatz', sans-serif;
$company2-font: 'Teko', sans-serif;
$company3-font: 'Passion One', cursive;
$company4-font: 'Rancho', cursive;
$company5-font: 'Teko', sans-serif;
$company6-font: 'Voltaire', sans-serif;

//font-size
$no-font: 0;
$small-font: 14px;
$main-font: 16px;
$medium-font-1: 18px;
$medium-font-2: 20px;
$medium-font-3: 24px;
$medium-font-4: 26px;
$medium-font-5: 28px;
$large-font-1: 30px;
$large-font-2: 32px;
$large-font-3: 34px;
$large-font-4: 36px;
$large-font-5: 38px;

//colors
$theme-color: #49BF4E;
$main-color: white;
$secondary-color: #393B48;
$button-hover-color: #128D17;
$border-color: lightgray;
$customer-logo-color: lightgray;
$site-info-color: lightgray;
$social-media-icon-color: lightgray;
$reference-link-color: lightgray;
$submenu-border-color: gray;
$img-caption-color: gray;
$selection-hover-color: darkgray;
$slideshow-background-color: #ECF0F0;

$circle-btn-color: #F0F1F4;
$circle-btn-border-color: #CCD0D9;

$circle-selected-color: black;

$company1-color: #4682B4;
$company2-color: #3CB371;
$company3-color: #B22222;
$company4-color: #1E578C;
$company5-color: #BA7131;
$company6-color: #55803D;